
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    list-style: none;
    margin: 0; 
    padding: 0;
    gap: 32px
  }

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
}

.header, .footer, .hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    padding: 16px 0px;
}

.hero {
    display: flex;
    justify-content: space-around;
    padding: 50px 150px;
    padding-bottom: 150px;
}

.hero-container {
    display: flex;
    flex-direction: column;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    max-width: 300px;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 400px;
    padding-bottom: 16px;
}

.hero-img {
    flex: 1;
    background-color: darkgray;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-sign-up{
    border-radius: 12px;
    border: 2px solid #1f2937;
    width: max-content;
    height: max-content;
    color: #e5e7eb;
    padding: 8px 32px;
    font-size: 20px;
    background-color: #3882F6;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 72px;
    color: #e5e7eb;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    padding: 36px;
}

.img-box {
    width: 140px;
    height: 140px;
    border: 4px solid #3882F6;
    border-radius: 12px;
  }

.img-info {
    max-width: 150px;
    text-align: center;
}

.text {
    padding-top: 8px;
    color: gray;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 56px;
    padding-bottom: 100px;
}


.qoute {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}

.qoute-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    max-width: 800px;
}

.qoute-footer-text {
    text-align: end;
    font-size: 24px;
    width: 800px;
    font-weight: 800;
    padding-top: 16px;
    
}

.ad {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.ad-container {
    display: flex;
    gap: 50px;
    background-color: #3882F6;
    padding: 50px 150px;
    border-radius: 12px;
}

.ad-all-text  {
    display: flex;
    flex-direction: column;
}

.ad-header {
    color: aliceblue;
    font-size: 24px;
    padding-bottom: 2px;
}

.ad-text {
    color: #e5e7eb;
}

.ad-sign-up {
    border-radius: 12px;
    border: 2px solid #f9faf8;
    width: max-content;
    height: max-content;
    color: #e5e7eb;
    padding: 8px 32px;
    font-size: 20px;
    background-color: #3882F6;
}